.block{
    width: 100px;
    min-width: 880px;
    margin: 0 auto;
    padding: 0 80% 0 auto;
    text-align:center;
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    grid-template-rows: 30px 250px 250px;
}

.topic{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.vertical{
    transform-origin: center center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}