.text{
    padding-left: 1em;
    text-align: left;
    cursor: pointer;
}

.item{
    margin: 10px 10px 0 30px;
    display: grid;
    grid-template-columns: calc(100% - 40px) 20px 20px;
    border-left: 1px solid #ccc;
}

.button {
    display: block;
    background: none;
    color: #ccc;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: color 0.5s linear, border 0.5s linear, width 0.5s linear;

}