@font-face{

  font-family: 'MyWebFont';
  src: url('./fonts/Marykate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color:#fff;
  background-color: #05101E;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("./img/back.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
}

/*color*/

.blue{background: linear-gradient(180deg, #00c6fb, #005bea);}

.pink{background: linear-gradient(180deg, #FF66C4, #b313cc);}

.yellow{background: linear-gradient(180deg, #FACE1E, #fa811e);}

.green{background: linear-gradient(180deg, #7ED957, #0b8600);}

.red{background: linear-gradient(180deg, #fc7e00, #ff0000);}

.brown{background: linear-gradient(180deg, #520202, #00072f);}

.pea{background: linear-gradient(180deg, #FACE1E, #40b011);}

.teal{background: linear-gradient(180deg, #0b8600, #0f429f);}

.indigo{background: linear-gradient(180deg, #0350c4, #a00bb6);}

.lavender{background: linear-gradient(180deg, #ff00fa, #00a6ff);}

.durk_pink{background-color: #702051;}

.durk_yellow{background-color: #6B5709;}

.durk_green{background-color: #396924;}


/*Scroll*/
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: rgba(249, 249, 253, 0.45);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(66, 66, 215, 0.45);
}

.scroll_blue::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #005bea, #00c6fb);
}

.scroll_pink::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b313cc, #FF66C4);
}

.scroll_yellow::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #fa811e, #FACE1E);
}

.scroll_green::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0b8600, #7ED957);
}

.scroll_red::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #ff0000, #fc7e00);
}

.scroll_brown::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #00072f, #520202);
}

.scroll_pea::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #40b011, #FACE1E);
}

.scroll_teal::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #0f429f, #0b8600);
}

.scroll_indigo::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #a00bb6, #0350c4);
}

.scroll_lavender::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #00a6ff, #ff00fa);
}

/*Blocks animation*/

.anim{
  animation: show 3s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.hide{
  animation: hide 3s;
  animation-fill-mode: forwards;
  z-index: 0;
}

@keyframes show{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.5);

    /*transition: transform .5s;*/
    font-size: 10px;
  }
}

@keyframes hide{
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
    z-index: 0;
    /*transition: transform .5s;*/
    font-size: 15px;
  }
}

/*icon*/
.icon{
  height: 15px;
  text-align: center;
}

/*date and time*/
.up_left {
  display: flex;
}

.left {
  margin: 0 5px;
  padding: 1px 3px;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  position: relative;
}

/*priloader gradient*/

.priloader {
  background: linear-gradient(90deg, #9ca3a9, rgba(249, 249, 253, 0.45), #404042, #18242d);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  transform: translate3d(0, 0, 0);
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*priloader circle*/

.loader-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin: -12.5px auto 0;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
  position: relative;
  -webkit-animation: loader-1 1.5s infinite linear;
  animation: loader-1 1.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-1:before {
  content: '';
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border-radius: 100% 0 0 0;
}

.loader-1:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #05101E;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes loader-1 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}


/* boxes at matrix */
.b_1 {
  transform-origin: left top;

}
.b_2 { transform-origin: right top; }

.b_3 { transform-origin: left bottom; }

.b_4 { transform-origin: right bottom; }

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.button {
  display: block;
  background: none;
  color: #ccc;
  text-align: left;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: color 0.5s linear, border 0.5s linear, width 0.5s linear;
}

.pri_point {
  height: 30px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}